<p id="notice"><%= notice %></p>

<p>
  <strong>Pessel:</strong>
  <%= @pessel_form.pessel %>
</p>

<%= link_to 'Edit', edit_pessel_form_path(@pessel_form) %> |
<%= link_to 'Back', pessel_forms_path %>
